{% extends 'back/base.html' %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="card-header">
                            <h4 class="card-title">
                                {{title}}
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="form-group">
                                <label class="col-md control-label">Nama:</label>
                                <div class="col-md-12">
                                    <p>{{artikel.nama}}</p>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md control-label">Judul:</label>
                                <div class="col-md-12">
                                    <p>{{artikel.judul}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md control-label">Isi:</label>
                                <div class="col-md-12">
                                    <p>{{artikel.isi}}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md control-label">Kategori:</label>
                                <div class="col-md-12">
                                    <p>{{artikel.kategori}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <label class="col-md"></label>
                                <div class="col-md-12">
                                    <a class="btn btn-success btn-info" href="{% url 'table_artikel' %}">
                                        Back</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- end card -->
            </div> <!--  end col-md-6  -->
        </div> <!-- end row -->
    </div>
</div>

{% endblock content %}